.box{
	width:700px;
	height:500px;
	box-shadow: 8px 8px 40px black;
	text-align: center;
	font-size: 32px;
	padding: 5px;
	background-color: #ffffff;
	border-radius: 4px;
	left: 20%;
	position: absolute;
	top: 4%;
}

body{
	background-color: #fcfcfc;
}

svg{
  background-color: white;
}